@model DonateMe.Web.Models.ProductModel

@{
    ViewBag.Title = "Contribute to DonateMe";
    Layout = "~/Views/Shared/_ItemLayout.cshtml";
}

<div ng-show="info==null">

    <h2>Add an item</h2>

    <form name="uploadForm" ng-submit="submitForm()">

        Product name:<input type="text" name="prodName" ng-model="prodName" ng-required="true"/><span style="color:red" ng-show="uploadForm.prodName.$invalid">*Product name is required</span><br/>
        Product description:<input type="text" name="prodDesc" ng-model="prodDesc" ng-required="true"/><span style="color:red" ng-show="uploadForm.prodDesc.$invalid">*Product description is required</span><br/>
        Product model:<input type="text" ng-model="prodModel"/><br/>
        Photo(s):<input type="file" file-upload multiple/>
        <input type="submit" value="submit" ng-disabled="uploadForm.$invalid" ng-style="uploadForm.$invalid?{'background-color': '#ffe7e7'}:{'background-color': '#efeeef'}"/>

    </form>

</div>

<div product-display-directive ng-hide="info==null"></div>
