@{
    Layout = "_Layout.cshtml";
}

@RenderSection("featured", false)

@Scripts.Render("~/bundles/jstree")
@Scripts.Render("~/bundles/ProductMvvm")

<div ng-controller="HomeController">
    {{message}}

    <div tree-link id="container" data-bind="event: {'changed.jstree' : getProducts}"></div>

    <button ng-click="sayHello()">Click</button>

</div>

@RenderBody()
