@{
    Layout = "_Layout.cshtml";
}

@RenderSection("featured", false)

@Scripts.Render("~/bundles/jstree")
@Scripts.Render("~/bundles/ProductMvc")

<div ng-controller="ProductHomeController">

    <div style="display: inline-block;">
        @RenderBody()
    </div>

    <div selected-tree-item-directive style="width: 220px; display: inline-block; float: left" id="productTreeContainer" ></div>

</div>
