@{
    Layout = "_Layout.cshtml";
}

@RenderSection("featured", false)

@Scripts.Render("~/bundles/jstree")
@Scripts.Render("~/bundles/ProductMvc")

<div ng-controller="ProductHomeController">
    
    <div selected-tree-item-directive id="productTreeContainer"></div>
    @RenderBody()
    
</div>
