@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">

            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>

            <p><b>W</b>elcome</p>

        </div>
    </section>
}

@section scripts{
    @Scripts.Render("~/bundles/jstree");
}

<div id="container" data-bind="event: {'changed.jstree' : getProducts}"></div>

<div data-bind="foreach: info">
    <p data-bind="text: value"></p>
</div>

<script>

    function ProductViewModel() {

        this.info = ko.observableArray();

        this.getProducts = function (caller, elem, data) {
            this.info.push({ value: "Hello " + data.node.text });
        }
    }

    $(function () {
        $('#container').jstree({
            'core': {
                'data': {
                    'url': '/Api/Navigator',
                    'dataType': 'json',
                    'data': function (node) {
                        return { 'id': node.id };
                    }
                }
            }
        });
    });

    ko.applyBindings(new ProductViewModel());
</script>