@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">

            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>

            <p><b>W</b>elcome</p>

        </div>
    </section>
}

@section scripts{
    @Scripts.Render("~/bundles/jstree");
}

<div id="container" data-bind="event: {'changed.jstree' : getProducts}"></div>

<p ><span data-bind="text: message"></span></p>

<div data-bind="foreach: info">
    <p data-bind="text: value"></p>
</div>

<script>

    function ProductViewModel(prodRepo) {

        var self = this;

        self.info = ko.observableArray();

        self.message = ko.observable();

        self.getProducts = function (caller, elem, data) {
            prodRepo.getProductsById(data.node.id, self);
        }

        self.execute = function (data) {

            self.info.removeAll();
            self.message("");

            if (data.length < 1) {
                self.message("No products to display");
                return;
            }

            for(var i = 0; i < data.length; i++) {
                self.info.push({ value: data[i].Name });
            }
        }
    }

    function ProductRepository() {
        
        this.getProductsById = function (id, command) {

            $.getJSON("/Api/Item", { "id": id })
             .done(function (data) {

                command.execute(data);
            });
        }
    }

    $(function() {
        $('#container').jstree({
            'core': {
                'data': {
                    'url': '/Api/Navigator',
                    'dataType': 'json',
                    'data': function(node) {
                        return { 'id': node.id };
                    }
                }
            }
        });
    });

    ko.applyBindings(new ProductViewModel(new ProductRepository()));
</script>