@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_ItemLayout.cshtml";
}
@section featured {

    <section class="featured">
        <div class="content-wrapper">

            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>

            <p>Welcome</p>

        </div>
    </section>
}

<p><span data-bind="text: message"></span></p>

<div data-bind="foreach: info">
    <p data-bind="text: value"></p>
</div>

<script type="text/javascript">
    ko.applyBindings(window.ProductViewModel);
</script>
