@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_ItemLayout.cshtml";
}
@section featured {

    <section class="featured">
        <div class="content-wrapper">

            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>

            <p>Welcome</p>

        </div>
    </section>
}

<div product-display-directive></div>

