@{
    ViewBag.Title = "Home Page";
}
@section featured {

    <section class="featured">
        <div class="content-wrapper">

            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>

            <p><b>W</b>elcome</p>

        </div>
    </section>
}

@section scripts{

    @Scripts.Render("~/bundles/jstree")
    @Scripts.Render("~/bundles/ProductMvvm")

    <script type="text/javascript">
        ko.applyBindings(new ProductViewModel(new ProductRepository()));
    </script>
}

<div id="container" data-bind="event: {'changed.jstree' : getProducts}"></div>

<p><span data-bind="text: message"></span></p>

<div data-bind="foreach: info">
    <p data-bind="text: value"></p>
</div>
